@model IEnumerable<Inventory>

<h2>Inventory</h2>
<div style="display: block">
    <a href="/Inventory/InsertItemToDatabase/">Create a New Item</a>
</div>


<table class="table">
    <tr>
        <th>Id</th>
        <th>Item</th>
        <th>Size</th>
        <th>Quantity</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td><a href=/Inventory/ViewInventory/@x.Id>@x.Id</a></td>
            <td>@x.Item</td>
            <td>@x.Size</td>
            <td>@x.Quantity</td>
        </tr>

    }
</table>
