@model Inventory

<h2>Update @Model.Item</h2>

@using (Html.BeginForm("UpdateInventoryToDatabase", "Inventory", "Post"))
{
    <input asp-for="Id" type="hidden" value="@Model.Id" />


    <label asp-for="Quantity" class="control-label">Quantity</label>

    <input type="number" step="1" name="Quantity" class="form-control" value="@Model.Quantity" />

    <input type="submit" value="Update Product" class="btn btn-primary" />

}
