<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MustangFB</title>
</head>
<body class="bgc">

    <h1>San Antonio Mustangs</h1>
    <div>
        <img src="https://cdn.vox-cdn.com/thumbor/0hKbkawKlfXEClj6WZWrDJM_O-M=/0x0:3989x2792/1200x800/filters:focal(1676x1077:2314x1715)/cdn.vox-cdn.com/uploads/chorus_image/image/65945184/1183212548.jpg.0.jpg" />
    </div>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>10/17/21</td>
            <td>At Houston Sharks</td>
            <td>7:30PM</td>
        </tr>
        <tr>
            <td>10/24/21</td>
            <td>Home vs Dallas Ducks</td>
            <td>7:30PM</td>
        </tr>
        <tr>
            <td>10/31/21</td>
            <td>Home vs Austin Knights</td>
            <td>7:30PM</td>
        </tr>
        <tr>
            <td>11/7/21</td>
            <td>At El Paso Eagles</td>
            <td>7:30PM</td>
        </tr>
        <tr>
            <td>11/14/21</td>
            <td>Playoff Game</td>
            <td>7:30PM</td>
        </tr>

    </table>


</body>
</html>
